* @Xuanwo @PsiACE

/core @Xuanwo
/bindings/c/ @Ji-Xinyou
/bindings/haskell/ @silver-ymz
/bindings/java/ @tisonkun
/bindings/lua/ @oowl
/bindings/nodejs/ @suyanhanx
/bindings/python/ @messense @Zheaoli
/bindings/ruby/ @PsiACE

# This is a place holder for all committers who what to join the review of not owned code.
#
# More details could be found at <https://github.com/apache/incubator-opendal/issues/3967>
COMMITTERS_PLACEHOLDER @Xuanwo @Ji-Xinyou @morristai @dqhl76 @ClSlaid @Young-Flash @G-XD @oowl @silver-ymz
