# memory
OPENDAL_MEMORY_TEST=on
# fs
OPENDAL_FS_TEST=false
OPENDAL_FS_ROOT=/path/to/dir
OPENDAL_FS_ATOMIC_WRITE_DIR=/path/to/tempdir
# s3
OPENDAL_S3_TEST=false
OPENDAL_S3_BUCKET=<bucket>
OPENDAL_S3_ENDPOINT=<endpoint>
OPENDAL_S3_ACCESS_KEY_ID=<access_key_id>
OPENDAL_S3_SECRET_ACCESS_KEY=<secret_access_key>
# azblob
OPENDAL_AZBLOB_TEST=false
OPENDAL_AZBLOB_ROOT=/path/to/dir
OPENDAL_AZBLOB_CONTAINER=<container>
OPENDAL_AZBLOB_ENDPOINT=<endpoint>
OPENDAL_AZBLOB_ACCOUNT_NAME=<account_name>
OPENDAL_AZBLOB_ACCOUNT_KEY=<account_key>
# hdfs
OPENDAL_HDFS_TEST=false
OPENDAL_HDFS_ROOT=/path/to/dir
OPENDAL_HDFS_NAME_NODE=<name_node>
# gcs
OPENDAL_GCS_TEST=false
OPENDAL_GCS_ROOT=/path/to/dir
OPENDAL_GCS_BUCKET=<bucket>
OPENDAL_GCS_CREDENTIAL=<base64_content>
# obs
OPENDAL_OBS_TEST=false
OPENDAL_OBS_BUCKET=<bucket>
OPENDAL_OBS_ENDPOINT=<endpoint>
OPENDAL_OBS_ACCESS_KEY_ID=<access_key_id>
OPENDAL_OBS_SECRET_ACCESS_KEY=<secret_access_key>
# oss
OPENDAL_OSS_TEST=false
OPENDAL_OSS_BUCKET=<bucket>
OPENDAL_OSS_ENDPOINT=<endpoint>
OPENDAL_OSS_ACCESS_KEY_ID=<access_key_id>
OPENDAL_OSS_ACCESS_KEY_SECRET=<access_key_secret>
# ipmfs
OPENDAL_IPMFS_TEST=false
OPENDAL_IPMFS_ROOT=/path/to/dir
OPENDAL_IPMFS_ENDPOINT=http://localhost:5001
# ftp
OPENDAL_FTP_TEST=false
OPENDAL_FTP_ENDPOINT=ftp://<endpoint>
OPENDAL_FTP_ROOT=/path/to/dir
OPENDAL_FTP_USER=<user>
OPENDAL_FTP_PASSWORD=<password>
# ipfs
OPENDAL_IPFS_TEST=false
OPENDAL_IPFS_ROOT=/ipfs/Qmxxxxxxxx
OPENDAL_IPFS_ENDPOINT=http://localhost:8080
# redis
OPENDAL_REDIS_TEST=false
OPENDAL_REDIS_ENDPOINT=tcp://127.0.0.1:6379
OPENDAL_REDIS_ROOT=/
OPENDAL_REDIS_DB=0
# rocksdb
OPENDAL_ROCKSDB_TEST=false
OPENDAL_ROCKSDB_DATADIR=/path/to/database
OPENDAL_ROCKSDB_ROOT=/path/to/root
# sled
OPENDAL_SLED_TEST=false
OPENDAL_SLED_DATADIR=/path/to/database
# moka
OPENDAL_MOKA_TEST=false
# ghac
OPENDAL_GHAC_TEST=false
# memcached
OPENDAL_MEMCACHED_TEST=false
OPENDAL_MEMCACHED_ENDPOINT=tcp://127.0.0.1:11211
OPENDAL_MEMCACHED_ROOT=/
# webdav
OPENDAL_WEBDAV_TEST=false
OPENDAL_WEBDAV_ROOT=/tmp/opendal/
OPENDAL_WEBDAV_ENDPOINT=http://127.0.0.1:8080
# webhfds
OPENDAL_WEBHDFS_TEST=false
OPENDAL_WEBHDFS_ROOT=/tmp/opendal/
OPENDAL_WEBHDFS_ENDPOINT=http://127.0.0.1:9870
OPENDAL_WEBHDFS_DELEGATION=<delegation>
