# IDE and editor
.idea

**/target
**/vendor
dist/

# env files for backends
.env

# profiling
flamegraph.svg
perf.*

**/.DS_Store

# Yarn Integrity file
.yarn-integrity

# Python cache files
**/__pycache__/
