[package]
authors = ["Databend Authors <opensource@datafuselabs.com>"]
categories = ["filesystem"]
description = "Open Data Access Layer that connect the whole world together."
edition = "2021"
keywords = ["storage", "data", "s3"]
license = "Apache-2.0"
name = "opendal"
repository = "https://github.com/datafuselabs/opendal"
version = "0.2.3"

[workspace]
members = ["opendal_test"]

[lib]
bench = false

[[bench]]
harness = false
name = "ops"

[dependencies]
anyhow = "1"
async-compat = "0.2"
async-trait = "0.1"

azure_core = {version="0.1",default-features=false,git = "https://github.com/Azure/azure-sdk-for-rust"}
azure_storage = { version = "0.1.0", default-features=false, features=["account"], git = "https://github.com/Azure/azure-sdk-for-rust" }
azure_storage_blobs = { version = "0.1.0", git = "https://github.com/Azure/azure-sdk-for-rust" }
azure_identity = {git = "https://github.com/Azure/azure-sdk-for-rust", version = "0.1" }

oauth2 = { version = "4.0.0", default-features = false }
blocking = "1"
bstr = "0.2"
bytes = "1"
futures = { version = "0.3", features = ["alloc"] }
http = "0.2"
hyper = { version = "0.14", features = ["stream"] }
log = "0.4"
metrics = "0.18"
once_cell = "1"
pin-project = "1"
reqsign = { git = "https://github.com/D2Lark/reqsign", branch = "Implement-azblob-support" }
reqwest = { version = "0.11", features = ["stream"] }
roxmltree = "0.14"
thiserror = "1"
tokio = { version = "1.17", features = ["full"] }
tower = "0.4"

[dev-dependencies]
anyhow = "1.0"
criterion = { version = "0.3", features = [
  "async",
  "async_tokio",
  "html_reports",
] }
dotenv = "0.15"
env_logger = "0.9"
num-traits = "0.2"
opendal_test = { path = "./opendal_test" }
rand = "0.8"
sha2 = "0.10"
size = "0.1"
uuid = { version = "0.8", features = ["serde", "v4"] }
