# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[licenses]
allow = [
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "CC0-1.0",
  "ISC",
  "MIT",
  "OpenSSL",
  "Unicode-3.0",
  "Zlib",
]

exceptions = [
  # cbindgen is used to generate C bindings; it is only a build dependency
  # so it won't be included in the final library
  { crate = "cbindgen", allow = ["MPL-2.0"] },

  # malachite and its subcrates are introduced in the Python bindings (pyo3-stub-gen)
  # they are only used in proc-macro so they won't be included in the final library
  { crate = "malachite", allow = ["LGPL-3.0-only"] },
  { crate = "malachite-base", allow = ["LGPL-3.0-only"] },
  { crate = "malachite-bigint", allow = ["LGPL-3.0-only"] },
  { crate = "malachite-nz", allow = ["LGPL-3.0-only"] },
  { crate = "malachite-q", allow = ["LGPL-3.0-only"] },

  # open data licenses that SHOULD be OK
  { crate = "unicode_names2", allow = ["Unicode-DFS-2016"] },
  { crate = "webpki-roots", allow = ["CDLA-Permissive-2.0"] },
]

# this config file is used for all crates; some of them would not encounter all the allowed licenses
unused-allowed-license = "allow"
unused-license-exception = "allow"
