[package]
description = "Apache OpenDAL Vercel Artifacts service implementation"
name = "opendal-service-vercel-artifacts"

authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
all-features = true

[dependencies]
opendal-core = { path = "../../core", version = "0.55.0", default-features = false }

bytes = { workspace = true }
ctor = { workspace = true }
http = { workspace = true }
log = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
tokio = { workspace = true }


[dev-dependencies]
anyhow = { version = "1.0.100", features = ["std"] }
tokio = { workspace = true, features = ["fs", "macros", "rt-multi-thread"] }
