// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

use crate::*;
use std::collections::HashMap;

#[pyclass(
    eq,
    eq_int,
    dict,
    hash,
    frozen,
    module = "opendal.services",
    from_py_object
)]
#[pyo3(rename_all = "PascalCase")]
#[derive(Debug, Clone, Copy, PartialEq, Eq, Hash)]
pub enum Scheme {
{%- for name in srvs %}
    #[cfg(feature = "{{service_to_feature(name)}}")]
    {{ service_to_pascal(name) }},
{%- endfor %}
}

#[pymethods]
impl Scheme {
    #[getter]
    pub fn name(&self) -> String {
        format!("{:?}", &self)
    }

    #[getter]
    pub fn value(&self) -> &'static str {
        (*self).into()
    }
}

macro_rules! impl_enum_to_str {
    ($src:ty { $(
        $(#[$cfg:meta])?
        $variant:ident => $value:literal
    ),* $(,)? }) => {
        impl From<$src> for &'static str {
            fn from(value: $src) -> Self {
                match value {
                    $(
                        $(#[$cfg])?
                        <$src>::$variant => $value,
                    )*
                }
            }
        }

        impl From<$src> for String {
            fn from(value: $src) -> Self {
                let v: &'static str = value.into();
                v.to_string()
            }
        }
    };
}

impl_enum_to_str!(
    Scheme {
{%- for name in srvs %}
        #[cfg(feature = "{{ service_to_feature(name) }}")]
        {{ service_to_pascal(name) }} => "{{ snake_to_kebab_case(name) }}",
{%- endfor %}
    }
);

pub trait ConfigBuilder: Send + Sync {
    fn build(&self) -> PyResult<ocore::Operator>;
    fn scheme(&self) -> &'static str;
    fn to_map(&self) -> HashMap<String, String>;
    fn is_picklable(&self) -> bool;
}

/// Base class for all service configs.
#[pyclass(module = "opendal.services", subclass)]
pub struct ServiceConfig(pub Box<dyn ConfigBuilder>);

#[pymethods]
impl ServiceConfig {
    /// The service scheme this config targets, e.g. ``"s3"``.
    #[getter]
    pub fn scheme(&self) -> &'static str {
        self.0.scheme()
    }
}
{% for name in srvs %}
#[cfg(feature = "{{ service_to_feature(name) }}")]
{{ config_class_doc(name) }}
#[pyclass(module = "opendal.services", extends = ServiceConfig, frozen, skip_from_py_object)]
#[derive(Clone)]
pub struct {{ service_to_pascal(name) }}Config(ocore::services::{{ service_to_pascal(name) }}Config);

#[cfg(feature = "{{ service_to_feature(name) }}")]
#[allow(deprecated)]
impl ConfigBuilder for {{ service_to_pascal(name) }}Config {
    fn build(&self) -> PyResult<ocore::Operator> {
        ocore::Operator::from_config(self.0.clone()).map_err(format_pyerr)
    }
    fn scheme(&self) -> &'static str {
        "{{ snake_to_kebab_case(name) }}"
    }
    fn to_map(&self) -> HashMap<String, String> {
        #[allow(unused_mut)]
        let mut map = HashMap::new();
{%- for field in srvs[name].config %}
        {{ config_to_map(field) }}
{%- endfor %}
        map
    }
    fn is_picklable(&self) -> bool {
        #[allow(unused_mut)]
        let mut ok = true;
{%- for field in srvs[name].config %}
        {{ config_picklable(field) }}
{%- endfor %}
        ok
    }
}

#[cfg(feature = "{{ service_to_feature(name) }}")]
#[allow(deprecated)]
#[pymethods]
impl {{ service_to_pascal(name) }}Config {
    #[new]
    #[pyo3(signature = (
{%- for field in srvs[name].config %}
        {{ config_new_param(field) }},
{%- endfor %}
    ))]
    #[allow(clippy::too_many_arguments)]
    fn new(
{%- for field in srvs[name].config %}
        {{ field.name }}: {{ config_param_type(field) }},
{%- endfor %}
    ) -> PyResult<pyo3::PyClassInitializer<Self>> {
        #[allow(unused_mut)]
        let mut opts: HashMap<String, String> = HashMap::new();
{%- for field in srvs[name].config %}
        {{ config_to_opts(field) }}
{%- endfor %}
        #[allow(unused_mut)]
        let mut cfg =
            <ocore::services::{{ service_to_pascal(name) }}Config as ocore::Configurator>::from_iter(opts)
                .map_err(format_pyerr)?;
{%- for field in srvs[name].config %}
        {{ config_assign_map(field) }}
{%- endfor %}
        let this = Self(cfg);
        Ok(pyo3::PyClassInitializer::from(ServiceConfig(Box::new(this.clone()))).add_subclass(this))
    }
{% for field in srvs[name].config %}
    {{ config_getter(field) }}
{%- endfor %}
}
{% endfor %}
// Defined here (not in `lib.rs`) so pyo3 introspection sees the config
// `#[pymodule_export]`s as literal items.
#[pyo3::pymodule(submodule, name = "services")]
pub mod services_submodule {
    #[pymodule_export]
    use crate::Scheme;
    #[pymodule_export]
    use crate::ServiceConfig;
{%- for name in srvs %}
    #[cfg(feature = "{{ service_to_feature(name) }}")]
    #[pymodule_export]
    use crate::{{ service_to_pascal(name) }}Config;
{%- endfor %}
}

