name: Benchmark
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  deployments: write

jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run benchmark
        run: cargo bench -- --output-format bencher | tee output.txt
        env:
          OPENDAL_MEMORY_TEST: on
          OPENDAL_FS_TEST: on
          OPENDAL_FS_ROOT: /tmp/opendal/

      - name: Store benchmark result
        if: github.repository_owner == 'datafuselabs'
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: Rust Benchmark
          tool: "cargo"
          output-file-path: output.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          alert-threshold: "200%"
          comment-on-alert: true
          alert-comment-cc-users: "@Xuanwo"
