# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: Bindings Java CI

on:
  push:
    branches:
      - main
      - stage-snapshot
    tags:
      - '*'
  pull_request:
    branches:
      - main
    paths:
      - "bindings/java/**"
      - ".github/workflows/bindings_java.yml"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      - name: Build and test
        working-directory: bindings/java
        run: mvn clean verify

  stage-snapshot:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      - name: Stage snasphot
        working-directory: bindings/java
        run: mvn -Papache-release package org.sonatype.plugins:nexus-staging-maven-plugin:deploy -DaltStagingDirectory=local-staging -DskipRemoteStaging=true
      - name: Upload local staging directory
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}-local-staging
          path: bindings/java/local-staging
          if-no-files-found: error

  deploy-staged-snapshots:
    runs-on: ubuntu-latest
    needs: [stage-snapshot]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'

      - name: Prepare enviroment variables
        run: echo "LOCAL_STAGING_DIR=$HOME/local-staging" >> $GITHUB_ENV

      - name: Download windows staging directory
        uses: actions/download-artifact@v3
        with:
          name: windows-latest-local-staging
          path: ~/windows-latest-local-staging
      - name: Download linux staging directory
        uses: actions/download-artifact@v3
        with:
          name: ubuntu-latest-local-staging
          path: ~/ubuntu-latest-local-staging
      - name: Download darwin staging directory
        uses: actions/download-artifact@v3
        with:
          name: macos-latest-local-staging
          path: ~/macos-latest-local-staging

      - name: Merge staging repositories
        run: |
          mkdir -p ~/local-staging/deferred
          cat ~/windows-latest-local-staging/deferred/.index >>  ~/local-staging/deferred/.index
          cp -r ~/windows-latest-local-staging/deferred/* ~/local-staging/deferred/
          cat ~/ubuntu-latest-local-staging/deferred/.index >>  ~/local-staging/deferred/.index
          cp -r ~/ubuntu-latest-local-staging/deferred/* ~/local-staging/deferred/
          cat ~/macos-latest-local-staging/deferred/.index >>  ~/local-staging/deferred/.index
          cp -r ~/macos-latest-local-staging/deferred/* ~/local-staging/deferred/

      - name: Deploy local staged artifacts
        run: ./mvnw -B --file bindings/java/pom.xml org.sonatype.plugins:nexus-staging-maven-plugin:deploy-staged -DaltStagingDirectory=$LOCAL_STAGING_DIR
