# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: Service Test Gcs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "core/src/**"
      - "core/tests/**"
      - "!core/src/docs/**"
      - "!core/src/services/**"
      - "core/src/services/gcs/**"
      - ".github/workflows/service_test_gcs.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  jobs:
    gcs:
      runs-on: ubuntu-latest
      if: (github.event_name == 'push' && github.repository == 'apache/incubator-opendal') || !github.event.pull_request.head.repo.fork
      steps:
        - uses: actions/checkout@v3
        - name: Setup Rust toolchain
          uses: ./.github/actions/setup
          with:
            need-nextest: true

        - name: Load secret
          id: op-load-secret
          uses: 1password/load-secrets-action@v1
          with:
            export-env: true
          env:
            OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
            OPENDAL_GCS_TEST: op://services/gcs/test
            OPENDAL_GCS_ROOT: op://services/gcs/root
            OPENDAL_GCS_BUCKET: op://services/gcs/bucket
            OPENDAL_GCS_CREDENTIAL: op://services/gcs/credential

        - name: Test
          shell: bash
          working-directory: core
          run: cargo nextest run gcs

  gcs-with-default-storage-class:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && github.repository == 'apache/incubator-opendal') || !github.event.pull_request.head.repo.fork
    steps:
      - uses: actions/checkout@v3
      - name: Setup Rust toolchain
        uses: ./.github/actions/setup
        with:
          need-nextest: true

      - name: Load secret
        id: op-load-secret
        uses: 1password/load-secrets-action@v1
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          OPENDAL_GCS_TEST: op://services/gcs/test
          OPENDAL_GCS_ROOT: op://services/gcs/root
          OPENDAL_GCS_BUCKET: op://services/gcs/bucket
          OPENDAL_GCS_CREDENTIAL: op://services/gcs/credential
          OPENDAL_GCS_DEFAULT_STORAGE_CLASS: STANDARD

      - name: Test
        shell: bash
        working-directory: core
        run: cargo nextest run gcs
