name: Service Test Oss

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "!src/docs/**"
      - "!src/services/**"
      - "src/services/oss/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  oss:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
      - name: Test
        shell: bash
        run: cargo test oss --show-output
        env:
          RUST_BACKTRACE: full
          RUST_LOG: debug
          OPENDAL_OSS_TEST: ${{ secrets.OPENDAL_OSS_TEST }}
          OPENDAL_OSS_BUCKET: ${{ secrets.OPENDAL_OSS_BUCKET }}
          OPENDAL_OSS_ENDPOINT: ${{ secrets.OPENDAL_OSS_ENDPOINT }}
          OPENDAL_OSS_ACCESS_KEY_ID: ${{ secrets.OPENDAL_OSS_ACCESS_KEY_ID }}
          OPENDAL_OSS_ACCESS_KEY_SECRET: ${{ secrets.OPENDAL_OSS_ACCESS_KEY_SECRET }}
